.input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.error-input {
  border: 3px solid #ff7171;
}

.error-message {
  color: #e99393;
  font-size: 14px;
  font-weight: 700;
}